* { 
  box-sizing: border-box; 
  }
body {
    margin: 0;
}
/* Navigation Styles */

nav {
  display: flex;
  height: 120px;
}
  .vis-nav-logo {
    width: 30%;
    margin: auto;
  }
  .vis-nav-logo2 {
    width: 30%;
    margin: auto;
}