* { 
  box-sizing: border-box; 
  }
body {
    margin: 0;
}
/* Navigation Styles */

nav {
  display: flex;
  height: 120px;
}
.vis-nav-logo {
    width: 30%;
    margin: auto;
}
.vis-burger-menu {
    width: 30%;
    margin: auto;
}
.vis-right{
    float: right;
}


.vis-main {
  display: flex;
  height: auto;
}

.vis-main-para {
  width: 70%;
  margin: auto;
}

.vis-main-icons {
  width: 30%;
  margin: auto;
}