* { 
  box-sizing: border-box; 
  }
body {
    margin: 0;
}
p {
  font-family: helvetica;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: .7px;
  color: #616161;
}
/* Utilities */



.white {
  color: #fff;
}

/* Navigation Styles */

nav {
  display: flex;
  height: 120px;
  width: 80%;
  margin: auto;
}
.vis-nav-logo{
    width: 30%;
    margin: auto;
}
.vis-nav-menu{
    width: 30%;
    margin: auto;
}
svg.vis-right{
    float: right;
}
.vis-main{
  display: flex;
  height: auto;
  width: 80%;
  margin: auto;
}
.vis-main-para{
  width: 45%;
  margin: auto;
  padding: 30px;
}
.vis-main-icons{
  width: 30%;
  margin: auto;
  padding: 30px;
}

section.vis-sec-nav {
  display: flex;
  height: auto;
  width: 80%;
  margin: auto;
}

.vis-sec-nav-box {
  width: 30%;
  margin: auto;
  padding: 0px;
}

.vis-sec-nav-item {
  background: #061C2C;
  color: white;
  padding: 26px;
}

h2.nav-sec {
  margin: auto;
  padding: 20px 0 0 0;
  font-family: helvetica;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -1px;
}

.vis-nav-sec-btn-container {
  display: flex;
  margin: auto;
}

.vis-sec-nav-btn {
  width: 50%;
  margin: auto;
  padding: 30px 0px;
}

.right{
  float: right;
}

a.vis-sec-nav-btn-left {
  background: #244AC2;
  padding: 10px;
  margin: 0px 11px 0px 0px;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  font-family: helvetica;
}

a.vis-sec-nav-btn-right {
  background: #244AC2;
  padding: 10px;
  margin: 0px 0px 0px 0px;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  font-family: helvetica;
}


section.vis-team-container {
  background: #061C2C;
  display: flex;
  padding: 30px 5px 0px 5px;
  justify-content: center;
  margin: 50px 0px 0px 0px;
}

section.vis-team-container2 {
  background: #061C2C;
  display: flex;
  padding: 30px 5px;
  justify-content: center;
  padding: 0px 5px 30px 5px;
}

.vis-team {
  width: 30%;
  padding: 30px 30px;
}
.vis-team2 {
  width: 60%;
  padding: 30px 30px;
}

.vis-team-block1 {
  border-top: 1.5px solid gray;
}

p.vis-team-head {
  font-family: helvetica;
  color: #29A4E6;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px 0px;
}

.vis-team-first {
  display: inline-block;
  width: 70%;
}

p.vis-team-h4 {
  display: inline-block;
  width: 77%;
  font-family: helvetica;
  color: white;
  font-weight: 100;
  font-size: 24px;
  line-height: 1.3;
  margin: auto;
  padding: 5px 0px;
}

.vis-team-icon {
  display: inline-block;
  float: right;
  width: 15%;
}

p.vis-team-para {
  color: white;
  width: 75%;
  padding-top: 20px;
}