* { 
  box-sizing: border-box; 
  }
body {
    margin: 0;
}
p {
  font-family: helvetica;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: .7px;
  color: #616161;
}
/* Utilities */



.white {
  color: #fff;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1700px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #ffffffe0;
  font-weight: 100;
  font-size: 71px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

a.prev {
  display: none;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0);
}

.text {
  color: #f2f2f2;
  font-size: 16px;
  padding: 25px 12px;
  bottom: 50%;
  width: 29%;
  text-align: right;
  left: -103px;
  z-index: 99;
  background: #244AC2;
  text-transform: uppercase;
  position: absolute;
  top: 41%;
  overflow: hidden;
  font-family: helvetica;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot-container {
  position: absolute;
  right: 150px;
  bottom: 33px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Navigation Styles */

nav {
  display: flex;
  height: 120px;
  width: 80%;
  margin: auto;
}
.vis-nav-logo{
    width: 30%;
    margin: auto;
}
.vis-nav-menu{
    width: 30%;
    margin: auto;
}
svg.vis-right{
    float: right;
}
.vis-main {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: flex-start;
}
.vis-main-para {
  width: 40%;
  margin: auto;
  padding: 30px;
}
.vis-main-icons {
  width: 20%;
  margin: auto;
  padding: 30px;
}

section.vis-sec-nav {
  display: flex;
  height: auto;
  width: 80%;
  margin: auto;
}

.vis-sec-nav-box {
  width: 30%;
  margin: auto;
  padding: 0px;
}

.vis-sec-nav-item {
  background: #061C2C;
  color: white;
  padding: 26px;
}

h2.nav-sec {
  margin: auto;
  padding: 20px 0 0 0;
  font-family: helvetica;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -1px;
}

.vis-nav-sec-btn-container {
  display: flex;
  margin: auto;
}

.vis-sec-nav-btn {
  width: 50%;
  margin: auto;
  padding: 30px 0px;
}

.right{
  float: right;
}

a.vis-sec-nav-btn-left {
  background: #244AC2;
  padding: 10px;
  margin: 0px 11px 0px 0px;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  font-family: helvetica;
}

a.vis-sec-nav-btn-right {
  background: #244AC2;
  padding: 10px;
  margin: 0px 0px 0px 0px;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  font-family: helvetica;
}


section.vis-team-container {
  background: #061C2C;
  display: flex;
  padding: 30px 5px 0px 5px;
  justify-content: center;
  margin: 50px 0px 0px 0px;
}

section.vis-team-container2 {
  background: #061C2C;
  display: flex;
  padding: 30px 5px;
  justify-content: center;
  padding: 0px 5px 30px 5px;
  margin: 0px 0px 80px 0px;
}

.vis-team {
  width: 30%;
  padding: 30px 30px;
}
.vis-team2 {
  width: 60%;
  padding: 30px 30px;
}

.vis-team-block1 {
  border-top: 1.5px solid gray;
}

p.vis-team-head {
  font-family: helvetica;
  color: #29A4E6;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px 0px;
}

.vis-team-first {
  display: inline-block;
  width: 70%;
}

p.vis-team-h4 {
  display: inline-block;
  width: 77%;
  font-family: helvetica;
  color: white;
  font-weight: 100;
  font-size: 24px;
  line-height: 1.3;
  margin: auto;
  padding: 5px 0px;
}

.vis-team-icon {
  display: inline-block;
  float: right;
  width: 15%;
}

p.vis-team-para {
  color: white;
  width: 75%;
  padding-top: 20px;
}

span.vis-team-para2 {
  color: white;
  width: 75%;
  font-size: 15px;
}

.vis-team-table {
  display: flex;
  padding-top: 30px;
}

.vis-team-table-item {
  padding: 20px 0px;
}
a.blue-text {
  background: #29A4E6;
  color: white;
  cursor: context-menu;
  padding: 4px;
  font-family: helvetica;
  font-size: 26px;
  font-weight: 100;
  text-decoration: none;
}


section.vis-icons-container {
  display: flex;
  justify-content: center;
  margin: 80px 10px;
  align-items: center;
}

.vis-icon-item {
  width: 22%;
  text-align: center;
}

img.vis-icon-size {
  width: 170px;
}

img.vis-icon-size2 {
  width: 245px;
}

img.vis-icon-size3 {
  width: 230px;
}


section.vis-newsletter {
  display: block;
  margin: 30px 0px;
}

.vis-newsletter-border {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1.5px solid gainsboro;
  width: 80%;
  margin: auto;
  padding: 30px 20px 10px 20px;
}

.vis-newsletter-item {
  width: 30%;
}

.vis-newsletter-item2 {
  width: 47%;
}
p.vis-newsletter-text {
  text-transform: uppercase;
  font-size: 12px;
  color: #bbbbbb;
}

input.vis-newsletter-input {
  width: 350px;
  height: 35px;
  background: whitesmoke;
  border: navajowhite;
  padding: 10px;
}
a.vis-newsletter-btn {
  width: 25px;
  background: black;
  color: white;
  text-decoration: none;
  font-family: helvetica;
  text-transform: uppercase;
  padding: 10px 30px;
  margin: 0px 19px;
  font-size: 14px;
}


footer.vis-footer {
  display: block;
  margin: 30px 5px;
}

.vis-footer-border {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-top: 1.5px solid gainsboro;
  width: 80%;
  margin: auto;
  padding: 20px;
}

.footer-col {
  width: 30%;
}

p.footer-text {
  font-size: 12px;
  color: #bbbbbb;
}

ul.footer-list {
  list-style: none;
  line-height: 1.5;
  color: #bbbbbb;
  font-family: helvetica;
  font-size: 12px;
}

.footer-col-inner {
  display: flex;
}
.footer-col-inner-item {
  width: 50%;
  padding: 10px;
}

a.footer-col-link-text {
  text-transform: uppercase;
  font-size: 12px;
  font-family: helvetica;
  color: #bbbbbb;
}

a.footer-text {
  color: #bbbbbb;
  text-decoration: none;
}