* { 
  box-sizing: border-box; 
  }
body {
    margin: 0;
}
p {
  font-family: helvetica;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: .7px;
  color: #616161;
}
/* Utilities */



.white {
  color: #fff;
}

/* Navigation Styles */

nav {
  display: flex;
  height: 120px;
  width: 80%;
  margin: auto;
}
.vis-nav-logo{
    width: 30%;
    margin: auto;
}
.vis-nav-menu{
    width: 30%;
    margin: auto;
}
svg.vis-right{
    float: right;
}
.vis-main{
  display: flex;
  height: auto;
  width: 80%;
  margin: auto;
}
.vis-main-para{
  width: 45%;
  margin: auto;
  padding: 30px;
}
.vis-main-icons{
  width: 30%;
  margin: auto;
  padding: 30px;
}

section.vis-sec-nav {
  display: flex;
  height: auto;
  width: 80%;
  margin: auto;
}

.vis-sec-nav-box {
  width: 30%;
  margin: auto;
  padding: 30px;
}

.vis-sec-nav-item {
  background: #061C2C;
  color: white;
  padding: 26px;
}

h2.nav-sec {
  margin: auto;
  padding: 15px 140px 0px 0px;
  font-family: helvetica;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -1px;
}